@model PurchaseViewModel

@{
	ViewBag.Title = "Purchase";
	ViewBag.pTitle = "Purchase";
	ViewBag.pageTitle = "Inventory";
}
<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<form>
					<div class="row mb-2">
						<div class="col-lg-6 order-lg-last order-md-first order-sm-first">
							<div class="float-end">
								<button class="btn btn-outline-dark waves-effect waves-light btn-sm"><i class="mdi mdi-arrow-left-bold"></i></button>
								<button class="btn btn-outline-dark waves-effect waves-light btn-sm">
									<i class="mdi mdi-arrow-right-bold"></i>
								</button>
								<button class="btn btn-dark waves-light btn-sm">Modify</button>
								<button class="btn btn-dark waves-light btn-sm">Update</button>
								<button class="btn btn-dark waves-light btn-sm">New</button>
							</div>
						</div>
						<div class="col-lg-6 order-lg-first order-md-last order-sm-last">
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="row">
								<div class="col-md-2">
									<label class="col-form-label-sm">Type</label>
								</div>
								<div class="col-md-10">
									<select class="form-select form-select-sm">
										<option value="1" selected>PURCHASE-CREDIT</option>
										<option value="2">PURCHASE-CASH</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="row ">
								<div class="col-md-2">
									<label class="col-form-label-sm">Description</label>
								</div>
								<div class="col-md-10">
									<input class="form-control form-control-sm" placeholder="Description">
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="row">
								<div class="col-md-2">
									<label class="col-form-label-sm">Inv.Date</label>
								</div>
								<div class="col-md-10">
									<input class="form-control form-control-sm" type="date" value="2011-08-19" id="example-date-input">
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="row">
								<div class="col-md-2">
									<label class="col-form-label-sm">Reference</label>
								</div>
								<div class="col-md-10">
									<input class="form-control form-control-sm" placeholder="Reference">
								</div>
							</div>
						</div>
					</div>
					<!--Second Row-->
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-md-1">
									<label class="col-form-label-sm">P.A/C</label>
								</div>
								<div class="col-md-5 col-lg-5 mb-2 mb-md-0">
									<input class="form-control form-control-sm">
								</div>
								<div class="col-md-6 col-lg-6 ps-lg-0 mb-2 mb-md-0 mb-sm-2">
									<input class="form-control form-control-sm">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="col-md-1">
									<label class="col-form-label-sm">Supplier</label>
								</div>
								<div class="col-md-5 col-lg-5 mb-2 mb-md-0">
									<input class="form-control form-control-sm">
								</div>
								<div class="col-md-6 col-lg-6 ps-lg-0 mb-2 mb-md-0 mb-sm-2">
									<input class="form-control form-control-sm">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-md-1">
									<label class="col-form-label-sm">Party</label>
								</div>
								<div class="col-md-5 col-lg-5 mb-2 mb-md-0">
									<input class="form-control form-control-sm">
								</div>
								<div class="col-md-6 col-lg-6 ps-lg-0 mb-2 mb-md-0 mb-sm-2">
									<input class="form-control form-control-sm">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 mb-2 mb-lg-0">
							<div class="row">
								<div class="col-md-2">
									<label class="col-form-label-sm">Select.On</label>
								</div>
								<div class="col-md-10">
									<select class="form-select form-select-sm">
										<option value="1" selected>Product ID</option>
										<option value="2">Barcode</option>
										<option value="2">Supplier ID</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-5">

						</div>
						<div class="col-lg-4 col-md-6 mb-2 mb-lg-0">
							<div class="d-flex justify-content-end align-items-center">
								<button class="btn waves-light btn-sm text-light me-1" style="background-color:#456C8F;border-color:#456C8F">Discount</button>
								<input class="form-control form-control-sm me-1" placeholder="Discount">
								<button class="btn waves-light btn-sm text-light" asp-controller="Purchase" asp-action="AddPurchase" style="background-color:Teal; border-color:Teal">
									<div class="d-flex align-items-center">
										<i class="mdi mdi-plus me-1"></i> Add
									</div>
								</button>
							</div>
						</div>

					</div>
					<!--MainTable-->
					<div class="table-responsive mb-2" style="height:200px">
						<table class="table table-sm table-rounded table-editable table-nowrap align-middle table-edits ">
							<thead class="bg-dark" style="font-size:medium; height:40px;vertical-align: middle;">
								<tr class="text-light">
									<th>SlNo</th>
									<th>Prod. Code</th>
									<th>Prod. Name/Descr</th>
									<th>IsRtn</th>
									<th>Unit</th>
									<th>Quantity</th>
									<th>FOC</th>
									<th>Cost/Unit</th>
									<th>Line Total</th>
									<th>Disc %</th>
									<th>Discount</th>
									<th>Is%</th>
									<th>Net Cost/Unit</th>
									<th>Act S.Price</th>
									<th>FOC mapping</th>
									<th>FOC CostMapg</th>
									<th>Expiry</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@await Html.PartialAsync("~/Views/Purchase/_PurchasePartialView/_PurchaseTableView.cshtml", Model.PurchaseDetTbItm)
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-lg-9 mb-1 mb-lg-0">
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-soft-info">QIH</span>
									<span class="badge badge-soft-info">
										32.678
									</span>
									<span class="badge badge-soft-primary">
										OUT
									</span>
									<!--A.Cost-->
									<span class="badge badge-soft-dark">A.Cost</span>
									<span class="badge badge-soft-dark">32.678</span>
									<!--LPCost-->
									<span class="badge badge-soft-dark">LP Cost</span>
									<span class="badge badge-soft-dark">32.678</span>
								</div>
								@* <div class="col-md-4">
									<div class="d-flex">
										<button class="btn waves-light btn-sm text-light me-1" style="background-color:#456C8F;border-color:#456C8F">Discount</button>
										<input class="form-control form-control-sm" placeholder="Discount">
									</div>
								</div> *@
							</div>
						</div>
						<div class="col-lg-3">
							<div class="float-end">
								<button class="btn btn-danger waves-light btn-sm">
									<i class="mdi mdi-delete pe-1"></i>Delete Inv.
								</button>
								<button class="btn waves-light btn-sm text-light" style="background-color:#4D4B88;border-color:#4D4B88;">
									<i class="mdi mdi-send pe-1"></i>Submit
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/js/app.js"></script>
